[Server]
# The port on which the server will listen, if you don't know what it is, do not change it
ListenPort: 9000

# The moderator's code, this is useless until version 2.1.3
MCode: 

# The path to the file "status.json"
StatusPath: 

# The name that will be set for unnamed players
DefaultName: MARIO

# The squad that will be set for players without squad
DefaultTeam: 

# Maximum of simultaneous connections per IP Address
MaxSimulIP: 3

[Match]
# Minimum of players to a match start by votes
PlayerMin: 2

# Maximum of players in a match
PlayerCap: 75

# The time until the match starts if no more players enter the match. (Disabled in solo private lobbies)
AutoStartTime: 30

# The match start timer, it is recommended to be at least 5 to allow the players to load the world.
StartTimer: 7

# Whether the votes can start the match or not (1 = yes, 0 = no)
EnableVoteStart: 1

# The rate of Votes/Players needed to the match start
VoteRateToStart: 0.85

# Whether players can enter the match while the start timer is running (1 = yes, 0 = no)
AllowLateEnter: 1

# The game's worlds, if you don't know what you're doing, do not change it
Worlds: world-1,world-2,world-3,world-5,world-6,world-l1,world-p
